/* Start website scroll */
html {
  scroll-behavior: smooth;
}
$scroll : "::-webkit-scrollbar";
#{$scroll}{
  width: 15px;
}
#{$scroll}-track{
  background-color: #fff;
}
#{$scroll}-thumb{
  background-color: $orange-color;
  &:hover{
    background-color: $orange-color;
  }
}
/* End website scroll */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus{
    outline: none;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-size:inherit;
}
img{
  user-select: none;
}