.container {
  padding: {
    left: 15px;
    right: 15px;
  }
  margin: {
    left: auto;
    right: auto;
  }
  @media (max-width: 767.9px) {
      width: 100%;
  }
  @media (min-width: 768px) {
      width: 750px;
  }
  @media (min-width: 992px) {
      width: 970px;
  }
  @media (min-width: 1200px) {
      width: 1170px;
  }
}