$main-padding : 20px;
$main-transition : 0.3s;
$main-border-radius:6px;

/* colors */

$main-text-color : hsl(219, 9%, 45%);   // Dark grayish blue
$important-text-color : hsl(220, 13%, 13%);   // Very dark blue

$orange-color : hsl(26, 100%, 55%);   // Orange
$pale-orange-color : hsl(25, 100%, 94%);   // Pale orange
$grayish-blue-color : hsl(220, 14%, 75%);   // Grayish blue
$light-grayish-blue-color : hsl(223, 64%, 98%);   // Light grayish blue

// $white-color : hsl(0, 0%, 100%);   // White
// $black-color : hsl(0, 0%, 0%);   // Black
// $light-box-background : rgba(0, 0, 0,0.75);